<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>forgot-password</ion-title>
  </ion-toolbar>
</ion-header>


<!--<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">forgot-password</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>-->
<ion-content>
  <input #passwordinput type="password" placeholder="contraseña"/>
  <ion-button class="text-gray-900 bg-gradient-to-r from-red-200 via-red-300">cambiar contraseña</ion-button> 
</ion-content>

